body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #303255;
}

.App {
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  background: #4c2a4c;
  color: #eee;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #3d446d;
}

.navbar h1 {
  margin: 10px 0;
}
